//компонент
.news-card{
  overflow:hidden;
  position: relative;
  z-index:1;
  height: 211px;
  padding: 30px 40px 30px 56px;
  background-color: #fff;
  box-shadow: 0 0 29px 0 rgba(0,0,0,0.13);
  border-radius: 10px;
  transition: background 0.2s;
  @media (max-width: 575px){
    height: auto;
    padding: 20px 30px 20px 35px;
  }
  &:after{
    content:"";
    background: #e7a029 url(../img/infoBgN.png) no-repeat center center;
    position: absolute;
    width: 26px;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width 0.2s;
  }
  &:hover {
    color:white;
    background:#e7a029 url(../img/InfoBgDouble.png) 257px 0 no-repeat;
    background-size: cover;
    &:after{
      width: 0;
    }
    .news-card__heading {
      color: #fff;
    }
    .news-card__date {
      color: #fff;
    }
    .news-card__bottom {
      color: #fff;
    }
    .news-card__full-news{
      color: #fff;
    }
  }
  
  &__head{
    margin-left: 175px;
    @media (max-width: 1199px){
      margin-left: 100px;
    }
    @media (max-width: 991px){
      margin-left: 0;
    }
  }

  &__top{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__heading{
    font-size: 1.1875rem;
    color:#e09c2b;
    font-family:'Gotham Pro', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__date{
    font-size: .9375rem;
    color:#ce9028;
    flex-shrink: 0;
  }

  &__text{
    height: 4.5rem;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  &__bottom{
    justify-content: space-between;
    display: flex;
    color:#ce9028;
    font-size:14px;
  }

  &__full-news{
    color:#ce9028;
  }

  &__view{
    padding-left: 20px;
  }
}