<div class="side-menu__wrapper">
  <nav class="side-menu">
    <div class="side-menu__close">Закрыть меню</div>
    <div class="side-menu__links">
      <a href="index.html" class="side-menu__link active">Главная</a>
      <a href="about.html" class="side-menu__link">О компании</a>
      <a href="manufacture.html" class="side-menu__link">Производство</a>
      <a href="news-page.html" class="side-menu__link">Новости</a>
      <a href="#" class="side-menu__link">Акции</a>
      <a href="#" class="side-menu__link">Анонсы и мероприятия</a>
      <a href="dillers.html" class="side-menu__link">Дилерам</a>
      <a href="#" class="side-menu__link">СМИ о нас</a>
      <a href="#" class="side-menu__link">Отзывы</a>
      <a href="#" class="side-menu__link">Наши проекты</a>
      <a href="contacts.html" class="side-menu__link">Контакты</a>
    </div>
    <div class="side-menu__tel-wrapper">
      <a href="tel:+77770000000" class="side-menu__tel">+7 (777) 000-00-00</a>
      <a href="#" class="side-menu__callback">Заказать звонок</a>
    </div>
    <div class="side-menu__footer">
      <div class="side-menu__footer-heading">Узнай первым о наших новостях и акциях</div>
      <div class="side-menu__input-wrapper">
        <input class="side-menu__input" type="email" placeholder="Ваш e-mail">
        <button class="side-menu__submit"></button>
      </div>
      <div class="side-menu__copy">ТОО Компания BAYAN © Все права защищены</div>
    </div>
  </nav>
</div>
<div class="side-menu__overlay"></div>
