<div class="top-menu__burger-icon"></div>
<div class="top-menu__logo-wrapper">
  <a href="/" class="top-menu__logo"><img src="img/logo.png" alt="Bayan logo"></a>
  <div class="top-menu__langs">
    <a href="#" class="top-menu__lang">РУС</a>
    <a href="#" class="top-menu__lang">КАЗ</a>
    <a href="#" class="top-menu__lang">ENG</a>
  </div>
</div>
<ul class="top-menu__nav">
  <li class="top-menu__nav-item"><a href="about.html">О компании</a></li>
  <li class="top-menu__nav-item"><a href="produce.html">Продукция</a></li>
  <li class="top-menu__nav-item"><a href="forDillers.html">Дилерам</a></li>
  <li class="top-menu__nav-item"><a href="contacts.html">Контакты</a></li>
</ul>
<div class="top-menu__phone-wrapper">
  <a href="tel:+77770000000" class="top-menu__phone">+7 (777) 000-00-00</a>
  <a href="#" class="top-menu__callback">Заказать звонок</a>
</div>