.header {
  padding-top: 40px;
  height: calc(1000px + (100vw - 1366px)*400/646);
  background: url('img/header-bg.png') center bottom no-repeat;
  background-size: cover;
  @media (max-width: 1199px) {
    height: 920px;
  }
  &__company{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: calc(100px + (100vw - 1366px)*125/664);
    font-size:16px;
    color:white;
    @media (max-width: 1199px) {
      margin-top: 75px;
    }
  }
  &__top-title{
    margin-left: 25px;
    font-size:12px;
    position: relative;
    transform: rotate(-27deg);
    text-transform: uppercase;
    font-family:'Gotham Pro',sans-serif;
    span{
      height: 200px;
      position: absolute;
      top: -70px;
      left: -90;
      width: 15px;
      transform-origin: bottom center;
    }
  }
  &__char1{
    transform: rotate(3deg);
  }
  &__char2{
    transform: rotate(6deg);
  }
  &__char3{
    transform: rotate(9deg);
  }
  &__char4{
    transform: rotate(12deg);
  }
  &__char5{
    transform: rotate(15deg);
  }
  &__char6{
    transform: rotate(18deg);
  }
  &__char7{
    transform: rotate(21deg);
  }
  &__char8{
    transform: rotate(24deg);
  }
  &__char9{
    transform: rotate(27deg);
  }
  &__char10{
    transform: rotate(30deg);
  }
  &__char11{
    transform: rotate(33deg);
  }
  &__char12{
    transform: rotate(36deg);
  }
  &__char13{
    transform: rotate(39deg);
  }
  &__char14{
    transform: rotate(42deg);
  }
  &__char15{
    transform: rotate(45deg);
  }
  &__char16{
    transform: rotate(48deg);
  }
  &__char17{
    transform: rotate(51deg);
  }
  &__char18{
    transform: rotate(54deg);
  }
  &__heading{
    font-size:3rem;
    font-weight:700;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    &:after{
      content: "";
      position: absolute;
      bottom: -30px;
      left: calc(50% - 50px);
      background-color: #fff;
      width: 100px;
      height: 2px;
    }
  }

  &__title{
    padding-top: 78px;
    text-align:center;
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0.8;
    max-width: 450px;
  }
}