// iconset


.iconset{
	margin-bottom: 106px;
	&__wrapper{
		display: flex;
	 justify-content: space-around;
	}
}

.feature{
	width: 178px;
	&__icon{
		margin-bottom: 30px;
	}
	&__text{
		font-size:18px;
		color:#5e4b28;
	}

}


