.main-offer{
	position:relative;
	margin-top: 164px;
	margin-bottom: 70px;
	background-size: cover;
	color:white;

	&__img-wrap{
		position: absolute;

		// круг у бутылок вверху
		&:after{		          
			content: '';	
			background: url("img/Main-offerHelp.png") no-repeat right top; 
			top: 26px;
			position: absolute;
			right: 156px;
			height: 55px;
			width: 55px;
		}
		// надпись у круга
		&:before{
			position: absolute;
			background: url("img/main-offerHelpLine.png") no-repeat left top; 
			content: 'Товарный ряд  молочной продукции';
			padding-left: 60px;
			background-position:-5px 5px;
			color:#e7a32b;
			top: 48px;
			right: -110px;
			font-size:14px;
			width: 290px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
	}
}

	// бутылочки слева секции
	&__img{          
		width: 533px;
		height: 424px;           
		position: relative;
	}

	// Бекграунд секции
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		z-index:-1;
		background: url("img/bgMain-offer.png") no-repeat center center; 

		height: 850px;
		background-size: cover;
	}

	&__container{

		margin-left: 457px;

	}

	// Заголовок
	&__header{
		padding-top: 132px;
		font-size:30px;
		font-family: 'Gotham Pro', sans-serif;
		font-weight:900;
		padding-bottom: 42px;
	}

	// Подзаголовок
	&__title{
		padding-bottom: 52px;
		font-size:20px;
		font-weight:400;
		font-family: 'Source Sans Pro', sans-serif;
	}

	//отступ от кнопки для bg
	&__button{
		padding-bottom: 90px;  
	}
}





//      video-card







.video-card{
	margin-bottom: 110px;
	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__text{
		padding-left: 80px;
		font-size:18px;
		color:#5e4b28;
	}
	&__paragraph{
		margin-bottom: 40px;
		width: 550px;
	}
}

.video-production{
	&__cont-img{
	border-radius:10px;
	box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.13);
	background-color: #3a3121;
	position: relative;
	//круг
	&:after{		          
		content: '';	
		background: url("img/Main-offerHelp.png") no-repeat right top; 
		left: -25px;
		top: 280px;
		position: absolute;
		height: 55px;
		width: 55px;
	}
	// надпись у круга
	&:before{
		position: absolute;
		background: url("img/video-cardHelpLine.png") no-repeat left top; 
		content: 'Товарный ряд молочной продукции';
		padding-right: 130px;
		background-position:150px 5px;
		color:#e7a32b;
		top: 300px;
		left: -206px;
		font-size:14px;
		width: 290px;
		display: flex;
		align-items: center;
	}
}

	&__play{
	display: flex;
	align-items: center;
	position: absolute;
	top: calc(50% - 32px);
	left: 67px;
	}

	&__treug{
	border: 17px solid transparent; 
	border-left: 19px solid #e7a029; 
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 50%;
	z-index: 10;
	margin-left: -8px	;
	}

	&__img{
		opacity: 0.3;
	}

	&__circul{
	position: absolute;
	height: 63px;
	width: 63px;
	border-radius:50% ;
	background-color: #fff;

	&:after{
		position: absolute;
		transform:	rotate(-40deg);
	top:-14px;
	left: 30px;
		height: 90px;
		width: 2px;
		content:"";
		background-color: #fff;
	}
}

	&__box{
		z-index:-1;
		content:"";
		position: absolute;
		width: 253px;
		height: 209px;
		background: #e7a029 linear-gradient(to left,rgba(234,159,40,.7),rgba(208,200,68,.7));
		box-shadow: 0 0 24px 7px rgba(206,182,49,.3);
		right: -10px;
		top: -10px;
		border-radius: 10px;
	}

	&__text{
		font-size:24px;
		font-weight:900;
		color:white;
		padding-left: 73px;
	}
}




// iconset


.feature{
	display: flex;
	justify-content: space-around;

	&__item{
		width: 178px;
	}
	&__icon{
		margin-bottom: 30px;
	}
	&__text{
		font-size:18px;
		color:#5e4b28;
	}

}