.main {
  position: relative;
  padding-top: 35px;
  background: #f4f4f4 url('img/main-bg.png') top center no-repeat;
  background-size: cover;
  @media (min-width: 1366px) {
    min-height: calc(825px + ((100vw - 1366px)*325/554));
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -80px;
    background: url('img/spot_yellow.png') center center no-repeat;
    width: 202px;
    height: 442px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100px;
    width: calc(618px + ((100vw - 1366px)*250/554);
    height: calc(661px + ((100vw - 1366px)*268/554);
    background: url('img/main-bottles.png') center center no-repeat;
    background-size: cover;
  }
  @media (min-width: 1366px) {
    min-height: calc(825px + ((100vw - 1366px)*325/554));
  }

  &__menu {
    padding-left: 80px;
    margin-bottom: calc(45px + ((100vw - 1366px)*90/554);
  }

  &__wrapper {
    padding-left: 80px;
  }

  &__heading {
    margin-bottom: 40px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e4a72e;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__text {
    margin-bottom: 60px;
    font-size: 1rem;
    color: #fff;
    max-width: 480px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    width: 245px;
    height: 54px;
    color: #24300b;
    font-size: 1rem;
    border-radius: 27px;
  }

  &__hint {
    margin-left: 25px;
    font-size: 1rem;
    color: #fff;
  }

  &__video {
    padding-left: 80px;
    display: flex;
    width: 430px;
    align-items: center;
    margin-top: 250px;
  }

  &__watch {
    display: block;
    margin-right: 10px;
    border: 0;
    background: url('img/play_video.png') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 91px;
    height: 87px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.35s ease;
    &:hover {
      transform: rotate(360deg)
    }
  }
  &__watch-text {
    color: #5e4b28;
  }
}