.main-offer{
 // background: url("img/bgMain-offer.png") no-repeat center top;
	background-size: cover;
position:relative;
	margin-top: 164px;
	color:white;
	&:before{
		content: '';
position: absolute;
left: 0;
background: url("img/Main-offerProducts.png") no-repeat left top; 
width: 611px;
height: 424px;
	}
	&:after{
				content: '';
position: absolute;
left: 0;
bottom: -90px;
z-index:-1;
background: url("img/bgMain-offer.png") no-repeat left top; 
background-size: cover;
width: 100%;
height: 850px;
	}

	&__container{
		margin-left: 457px;
		position: relative;
		&:before{

			top: 25px;
			left: -255px;
			height: 55px;
			width: 55px;
			content: '';
			position: absolute;
			background: url("img/Main-offerHelp.png") no-repeat left top; 
			// &:hover{
			// 	//вывод фигуры и текста
			// 	height: 100px;
			// }
		}
		&:after{
			position: absolute;
			background: url("img/main-offerHelpLine.png") no-repeat left top; 
			content: 'Товарный ряд молочной продукции';
			background-position:-5px 5px;
			color:#e7a32b;
				top: 48px;
			left: -225px;
			font-size:14px;
			width: 290px;
			display: flex;
			justify-content: flex-end;


		}
	}


	&__header{
		padding-top: 132px;
font-size:30px;
font-family: 'Gotham Pro', sans-serif;
font-weight:900;
font-family: sans-serif;
padding-bottom: 42px;
	}
	&__title{
		padding-bottom: 52px;
	font-size:20px;
	font-weight:400;
	font-family: 'Source Sans Pro', sans-serif;
	}

}