.main {
  position: relative;
  padding-top: 40px;
  background: url('img/main-bg.png') bottom center no-repeat;
  background-size: cover;
  min-height: calc(825px + ((100vw - 1366px)*325/554));
  @media (max-width: 1365px) {
    min-height: 825px;
  }
  @media (max-width: 1050px) {
    min-height: 750px;
  }
  @media (max-width: 991px) {
    min-height: 680px;
    padding-top: 25px;
  }
  @media (max-width: 380px) {
    min-height: 650px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -80px;
    background: url('img/spot_yellow.png') center center no-repeat;
    background-size: cover;
    width: 202px;
    height: 442px;
    @media (max-width: 767px) {
      width: 180px;
      height: 370px;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100px;
    width: calc(618px + ((100vw - 1366px)*250/554);
    height: calc(661px + ((100vw - 1366px)*268/554);
    background: url('img/main-bottles.png') center center no-repeat;
    background-size: cover;
    @media (max-width: 1199px) {
      right: 0;
    }
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__menu {
    margin-bottom: calc(45px + ((100vw - 1366px)*90/554);
    @media (max-width: 1365px) {
      margin-bottom: 45px;
    }
  }

  &__wrapper {
    padding-left: 80px;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 60px;
    }
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }

  &__heading {
    margin-bottom: 40px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e4a72e;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @media (max-width: 991px) {
      font-size: 32px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 60px;
    font-size: 1rem;
    color: #fff;
    max-width: 480px;
    @media (max-width: 991px) {
      text-align: center;
    }
    @media (max-width: 400px) {
      margin-bottom: 35px;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 400px) {
      flex-direction: column;
    }
  }

  &__button {
    width: 245px;
    height: 54px;
    color: #24300b;
    font-size: 1rem;
    border-radius: 27px;
    @media (max-width: 400px) {
      margin-bottom: 25px;
    }
  }

  &__hint {
    margin-left: 25px;
    font-size: 1rem;
    color: #fff;
  }

  &__video {
    position: relative;
    padding-left: 80px;
    display: flex;
    width: 430px;
    align-items: center;
    margin-top: 250px;
    @media (max-width: 1366px) {
      margin-top: 150px;
    }
    @media (max-width: 1050px) {
      margin-top: 100px;
    }
    @media (max-width: 991px) {
      padding-left: 0;
      max-width: 300px;
    }
  }

  &__watch {
    display: block;
    margin-right: 10px;
    border: 0;
    background: url('img/play_video.png') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 91px;
    height: 87px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1)
    }
  }
  &__watch-text {
    color: #5e4b28;
  }
}