.main-offer{
	// background: url("img/bgMain-offer.png") no-repeat center bottom;  2 вариант
	position:relative;
	margin-top: 164px;
	background-size: cover;
	color:white;

	&__img-wrap{
		position: absolute;
	}
	// бутылочки слева секции
	&__img{
		position: relative;
		//круг относительно бутылок 
		&:after{		           //странная штука но этот after нигде не отображается 
			content: '';
			z-index: 10;
			top: 0;
			right: 0;
			height: 55px;
			width: 55px;
			background: url("img/Main-offerHelp.png") no-repeat left top;
		}
	}

	// Бекграунд секции
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -90px;
		z-index:-1;
		width: 100%;
		height: 850px;
		background: url("img/bgMain-offer.png") no-repeat left top;
		background-size: cover;
	}


	&__container{
		position: relative;
		margin-left: 457px;
		// круг у бутылок вверху
		&:before{
			content: '';
			position: absolute;
			top: 25px;
			left: -255px;
			height: 55px;
			width: 55px;
			background: url("img/Main-offerHelp.png") no-repeat left top;
		}
		//надпись у круга
		&:after{
			position: absolute;
			background: url("img/main-offerHelpLine.png") no-repeat left top;
			content: 'Товарный ряд молочной продукции';
			background-position:-5px 5px;
			color:#e7a32b;
			top: 48px;
			left: -225px;
			font-size:14px;
			width: 290px;
			display: flex;
			justify-content: flex-end;
		}
	}

	// Заголовок
	&__header{
		padding-top: 132px;
		font-size:30px;
		font-family: 'Gotham Pro', sans-serif;
		font-weight:900;
		padding-bottom: 42px;
	}

	// Подзаголовок
	&__title{
		padding-bottom: 52px;
		font-size:20px;
		font-weight:400;
		font-family: 'Source Sans Pro', sans-serif;
	}

	// &__button{
	// 	padding-bottom: 100px;     2 вариант
	// }
}