.material__card{
	width: 718px;
	margin-bottom: 39px;
		padding-left: 38px !important;
	&:after{
		display: none;
	}
}
.material{
	background: url("img/materialBg.png") no-repeat top center;
	&__last-card{
		margin-bottom: 77px;
	}
	&__pagination{
		margin-bottom: 76px;
	}
}