.material__card{
	width: 718px;
	margin-bottom: 39px;
		padding-left: 38px !important;
	&:after{
		display: none;
	}
}
.material{
	background: url("img/materialBg.png") center center no-repeat;
  background-size: cover;
	&__wrapper {
    margin-bottom: 77px;
    div:last-of-type{
      margin-bottom: 0;
    }
  }
	&__pagination{
		margin-bottom: 76px;
	}
}