.pageNews{
  background: url("img/materialBg.png")  top center no-repeat;
  background-size: 100% 50%;
  &__wrapper {
    margin-top: calc(-320px - (100vw - 992px)*18/100);
    @media (max-width: 991px) {
      margin-top: -300px;
    }
  }
  &__news-card{
    width: 753px;
    margin-bottom: 49px;
    background-position: 441px 0!important;
    @media (max-width: 991px){
      max-width: 100%;
    }
  }

  &__news{
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  &__pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
}


.last-anonse{
  background: url("img/materialBg.png")  top center no-repeat;
  background-size: 100% 50%;
  &__item{
    padding-bottom: 30px;
    background:url("img/lasanonse1.jpg") center top no-repeat;
    background-size: cover;
    &_second{
      text-align:right;
      background-image:url("img/lasanonse2.jpg");
      background-size: cover;
      margin-bottom: 80px;
    }
  }

  &__head{
    &:after{
      right: 3px;
      left:auto;
    }
  }

  &__item_second-wrap{
    display: flex;
    flex-direction:column;
    align-items:flex-end;
  }
  &__text{
    font-size: 15px;
    font-family: "Gotham Pro", sans-serif;
    font-weight:400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    max-width: 616px;
  }
  &__button{
    height: 45px;
    width: 214px;
    background: #fff;
    font-size:15px;
    color:#b67622;
    margin-top: 35px;
    font-family:'Gotham Pro',sans-serif;
    font-weight:400;
    &:hover {
      box-shadow: 0 0 24px 7px rgba(#fff, 0.35);
    }
  }
}

.shares{
  background: url("img/materialBg.png")  top center no-repeat;
  background-size: 100% 50%;
  margin-bottom: 50px;
  &__text{
    font-size: 16px;
    color: rgb(128, 98, 38);
    line-height: 1.2;
    max-width: 1000px;
    margin-bottom: 50px;
  }
  &__head{
    margin-bottom: 60px;
    &:after{
      bottom: -14px;
    }
  }

  &__item{
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &_green{
      background: url('/img/discounts-bg.png') center center no-repeat;
      background-size: cover;
    }
    &_blue{
      background: url('/img/discounts-bg_blue.png') center center no-repeat;
      background-size: cover;
    }
    &_red{
      background: url('/img/discounts-bg_red.png') center center no-repeat;
      background-size: cover;
    }
  }

  &__wrap{
    display: flex;
    align-items:center;
    justify-content: center;
    & > img {
      margin-right: 15px;
      max-width: 380px;
      @media (max-width: 767px) {
        max-width: 250px;
      }
      @media (max-width: 575px) {
        max-width: calc(100vw/2.8);
      }
    }
  }

  &__name{
    font-size: 6.3125rem;
    font-family: "Maloishe", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.782;
    margin-left: 90px;
    @media (max-width: 1199px){
      margin-left: 0;
    }
    @media (max-width: 767px) {
      font-size: 5.5rem;
    }
    @media (max-width: 575px) {
      font-size: calc(100vw/8);
    }
  }
}