//      video-card
.video-card{
	margin-bottom: 110px;
	@media (max-width:991px) {
	margin-bottom: 63px;
}
	&__heading{
		text-align:center;
		margin-bottom: 90px;
												@media (max-width:380px) {
font-size:30px;
		margin-bottom: 80px;

		}
	}

	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:991px) {
			flex-direction:column;
		}
	}

	&__text{
		padding-left: 80px;
		font-size:18px;
		color:#5e4b28;
		@media (max-width:1199px) {
			padding-left: 0;
		}
	}

	&__paragraph{
		margin-bottom: 40px;
		width: 550px;
		@media (max-width:1199px) {
			width: 500px;
		}
		@media (max-width:991px) {
			width: auto;
		}
	}

	&__production-video{
		height: 337px;
		width: 408px;
		@media (max-width:991px) {
			order:-1;
			height: 500px;
			width: auto;
			margin-bottom: 40px;
		}
		@media (max-width:768px) {
			height: 100%;
			width: 100%;

		}
				@media (max-width:488px) {
			height: 100%;

		}
	//круг
		&:after{		          
			content: '';	
			background: url("img/Main-offerHelp.png") no-repeat right top; 
			left: -25px;
			top: 280px;
			position: absolute;
			height: 55px;
			width: 55px;
			@media (max-width:991px) {
				display: none;
			}
		}
		// надпись у круга
		&:before{
			position: absolute;
			background: url("img/video-cardHelpLine.png") 150px  5px no-repeat;
			content: 'Товарный ряд молочной продукции';
			padding-right: 130px;
			color:#e7a32b;
			top: 300px;
			left: -206px;
			font-size:14px;
			width: 290px;
			display: flex;
			align-items: center;
			@media (max-width:991px) {
				display: none;
			}
		}
	}

	&__play{
		display: flex;
		align-items: center;
		position: absolute;
		top: calc(50% - 32px);
		left: 67px;
						@media (max-width:380px) {
left:20px;

		}
	}

	&__treug{
		border: 11px solid transparent;
		border-left: 19px solid #e7a029;
		position: absolute;
		top: calc(50% - 12px);
    left: calc(50% - 8px);
		z-index: 10;
	}

	&__circul{
		position: absolute;
		height: 63px;
		width: 63px;
		border-radius:50% ;
		background-color: #fff;
    cursor: pointer;
		&:after{
			position: absolute;
			transform:	rotate(-40deg);
			top:-14px;
			left: 30px;
			height: 90px;
			width: 2px;
			content:"";
			background-color: #fff;
		}

	}

	&__vid-text{
		font-size:24px;
		font-weight:900;
		color:white;
		padding-left: 73px;
										@media (max-width:380px) {
font-size:20px;

		}
	}

	&__box{
		width: 253px;
		height: 209px;
		@media (max-width:991px) {
			width: 453px;
			height: 409px;
		}
				@media (max-width:768px) {
						width: 353px;
			height: 309px;

		}
					@media (max-width:488px) {
						width: 203px;
			height: 159px;

		}
	}

	&__img{
		opacity: 0.3;
	}
}