//      video-card

.video-card{
	margin-bottom: 110px;

	&__heading{
		text-align:center;
		margin-bottom: 90px;
	}

	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text{
		padding-left: 80px;
		font-size:18px;
		color:#5e4b28;
	}

	&__paragraph{
		margin-bottom: 40px;
		width: 550px;
	}

	&__production-video{
		height: 337px;
		width: 408px;
	//круг
		&:after{		          
			content: '';	
			background: url("img/Main-offerHelp.png") no-repeat right top; 
			left: -25px;
			top: 280px;
			position: absolute;
			height: 55px;
			width: 55px;
		}
		// надпись у круга
		&:before{
			position: absolute;
			background: url("img/video-cardHelpLine.png") no-repeat left top; 
			content: 'Товарный ряд молочной продукции';
			padding-right: 130px;
			background-position:150px 5px;
			color:#e7a32b;
			top: 300px;
			left: -206px;
			font-size:14px;
			width: 290px;
			display: flex;
			align-items: center;
		}
	}

	&__play{
		display: flex;
		align-items: center;
		position: absolute;
		top: calc(50% - 32px);
		left: 67px;
	}

	&__treug{
		border: 17px solid transparent; 
		border-left: 19px solid #e7a029; 
		position: absolute;
		top: 50%;
		margin-top: -17px;
		left: 50%;
		z-index: 10;
		margin-left: -8px	;
	}

	&__circul{
		position: absolute;
		height: 63px;
		width: 63px;
		border-radius:50% ;
		background-color: #fff;
		&:after{
			position: absolute;
			transform:	rotate(-40deg);
			top:-14px;
			left: 30px;
			height: 90px;
			width: 2px;
			content:"";
			background-color: #fff;
		}
	}

	&__vid-text{
		font-size:24px;
		font-weight:900;
		color:white;
		padding-left: 73px;
	}

	&__box{
		width: 253px;
		height: 209px;
	}

	&__img{
		opacity: 0.3;
	}
}